
	/* .span_right { */
		/* font-size: 0.8em; */
		/*大小*/
		/* padding: 0.4em; */
		/* width: 30upx; */
		/* height: 30upx; */
		/* border-top: 3px solid #b9b9b9; */
		/*上面的线条*/
		/* border-right: 3px solid #b9b9b9; */
		/*右边线条*/
		/* transform: rotate(45deg); */
		/*主要是这个旋转45度*/
	/* } */
	
	
	
	
	
	
	
	.span_right {
		font-size: 0.8px;
		/*大小*/
		padding: 0.4em;
		width: 10px;
		height: 10px;
		border-top: 3px solid #b9b9b9;
		/*上面的线条*/
		border-right: 3px solid #b9b9b9;
		/*右边线条*/
		transform: rotate(45deg);
		/*主要是这个旋转45度*/
	}