@font-face {
  font-family: "iconfont"; /* Project id 2578268 */
  src: url('//at.alicdn.com/t/font_2578268_7clei9nbdy5.woff2?t=1623412220396') format('woff2'),
       url('//at.alicdn.com/t/font_2578268_7clei9nbdy5.woff?t=1623412220396') format('woff'),
       url('//at.alicdn.com/t/font_2578268_7clei9nbdy5.ttf?t=1623412220396') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e60c";
	font-size: 45rpx;
}

//1
.icon-dianzan-s:before {
  content: "\eb10";
	font-size: 45rpx;
	color: #fee082;
}

.icon-release1:before {
  content: "\e618";
}

//1
.icon-release:before {
  content: "\e614";
	color:#1296db;
}

.icon-wodedizhi:before {
  content: "\e613";
	color: #669cfe;
}

.icon-erweima:before {
  content: "\e63c";
}

.icon-cart-s:before {
  content: "\eb0a";
}

.icon-cart:before {
  content: "\e652";
}

.icon-zhuye:before {
  content: "\eb0b";
}

.icon-zhuye-s:before {
  content: "\eb0e";
}

.icon-my-s:before {
  content: "\eb0f";
}

.icon-my:before {
  content: "\eb0c";
}

.icon-fenqu-s:before {
  content: "\e624";
}

.icon-fenqu:before {
  content: "\eb0d";
}
