@font-face {
  font-family: "iconfont"; /* Project id 2578268 */
  src: url('//at.alicdn.com/t/font_2578268_b16o7gln13l.woff2?t=1624170836774') format('woff2'),
       url('//at.alicdn.com/t/font_2578268_b16o7gln13l.woff?t=1624170836774') format('woff'),
       url('//at.alicdn.com/t/font_2578268_b16o7gln13l.ttf?t=1624170836774') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huancun:before {
  content: "\e6ba";
	color: #669cfe;
	/* font-size: 80rpx; */
}

.icon-history:before {
  content: "\e617";
	color: #669cfe;
	/* font-size: 80rpx; */
}

.icon-wodeshoucang:before {
  content: "\e69e";
	color: #669cfe;
}

.icon-meishi1:before {
  content: "\ec5c";
}

.icon-liebiaodaohang_dongman:before {
  content: "\e638";
}

.icon-meishi:before {
  content: "\e604";
}

.icon-dianzan:before {
  content: "\e60c";
  font-size: 60rpx;
}

.icon-dianzan-s:before {
  content: "\eb10";
  font-size: 60rpx;
	color: #fee082;
}

.icon-release1:before {
  content: "\e618";
}

.icon-release:before {
  content: "\e614";
  color:#1296db;
}

.icon-wodedizhi:before {
  content: "\e613";
  color: #669cfe;
}

.icon-erweima:before {
  content: "\e63c";
}

.icon-cart-s:before {
  content: "\eb0a";
}

.icon-cart:before {
  content: "\e652";
}

.icon-zhuye:before {
  content: "\eb0b";
}

.icon-zhuye-s:before {
  content: "\eb0e";
}

.icon-my-s:before {
  content: "\eb0f";
}

.icon-my:before {
  content: "\eb0c";
}

.icon-fenqu-s:before {
  content: "\e624";
}

.icon-fenqu:before {
  content: "\eb0d";
}
