@font-face {
  font-family: "iconfont"; /* Project id 2582959 */
  src: url('//at.alicdn.com/t/font_2582959_aoj68pzca2b.woff2?t=1624371520674') format('woff2'),
       url('//at.alicdn.com/t/font_2582959_aoj68pzca2b.woff?t=1624371520674') format('woff'),
       url('//at.alicdn.com/t/font_2582959_aoj68pzca2b.ttf?t=1624371520674') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-liebiaodaohang_dongman:before {
  content: "\e638";
}

.icon-meishi:before {
  content: "\e604";
}

.icon-releaseplanicon:before {
  content: "\e618";
}

.icon-release:before {
  content: "\e613";
}

.icon-gouwuche:before {
  content: "\e652";
}

.icon-xuexi:before {
  content: "\e60d";
}

.icon-xuexi1:before {
  content: "\e7f1";
}

.icon-dianying:before {
  content: "\e634";
}

.icon-zhibo-63:before {
  content: "\eab6";
}

.icon-gengduo:before {
  content: "\e611";
}

.icon-youxi:before {
  content: "\e700";
}

.icon-search:before {
  content: "\e6a2";
}

.icon-B-02:before {
  content: "\e61a";
}

.icon-B_huaban1:before {
  content: "\e61b";
}

.icon-B-06:before {
  content: "\e61c";
}

.icon-B-03:before {
  content: "\e61d";
}

.icon-B-05:before {
  content: "\e61e";
}

.icon-B-04:before {
  content: "\e61f";
}

.icon-B-13:before {
  content: "\e620";
}

.icon-B-15:before {
  content: "\e621";
}

.icon-B-14:before {
  content: "\e622";
}

.icon-B-16:before {
  content: "\e623";
}

.icon-B-17:before {
  content: "\e624";
}

.icon-B-09:before {
  content: "\e625";
}

.icon-B-07:before {
  content: "\e626";
}

.icon-B-12:before {
  content: "\e627";
}

.icon-B-11:before {
  content: "\e628";
}

.icon-B-08:before {
  content: "\e629";
}

.icon-B-20:before {
  content: "\e62a";
}

.icon-B-19:before {
  content: "\e62b";
}

.icon-B-18:before {
  content: "\e62c";
}

.icon-B-10:before {
  content: "\e62d";
}
